@import '../../assets/scss/global.scss';

#container-login {
    height: 100vh;
    min-height: 100vh;
    position: relative;
    background-color: $colorPrimaryBackground;

    #title_login {
        width: 100%;
        height: 15%;
        background-color: $colorPrimaryDark;
        @include centralizeContent();
        img {
            position: relative;
            top: -2.3vw;
            width: 45%;
        }
    }

    main {
        height: 85%;
        @include centralizeContent();

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            top: -5vw;
            width: 80%;
            height: 100%;
            background-color: #f7f7f7;
            border-radius: 4vw; 
            box-shadow: 0px 14px 24px 0px rgba(0,0,0,0.37);
            padding: 2% 8%;

            h1 {
                width: 100%;
                height: 40%;
                font-weight: bolder;
                font-size: 10vw;
                color: $colorPrimaryDark;
                @include centralizeContent();
            }

            #content-top {
                height: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                input {
                    border: 0;
                    background-color: transparent;
                    font-weight: 400;
                    font-size: 5vw;
                    color: $colorFont;

                    &::placeholder {
                        color: #6b6b6b;
                    }
                }

                #email {
                    border-bottom: 2px solid #DDDDDD;

                    &:focus {
                        border-bottom: 2px solid $colorPrimaryDark;
                        color: $colorPrimaryDark;
                    }
                }

                .password-field {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border-bottom: 2px solid #DDDDDD;

                    #password {
                        width: 75%;
                        
                    }

                    #showPassword {
                        width: 25%;
                        height: 100%;
                        @include centralizeContent();

                        img {
                            width: 40%;
                        }
                    }

                    &:focus {
                        border-bottom: 2px solid $colorPrimaryDark;
                        color: $colorPrimaryDark;
                    }                    
                }

                .light {
                    border-bottom: 2px solid $colorPrimaryDark;
                    #password {
                        color: $colorPrimaryDark;
                    }
                }

                #continueConnected {
                    display: flex;
                    flex-direction: row;

                    input {
                        margin-right: 2vw;
                    }

                    h5 {
                        font-size: 5vw;
                    }
                }
            }

            #content-bottom {
                display: flex;
                flex-direction: column;
                @include centralizeContent();
                height: 25%;

                .modal-button {
                    color: $colorFont;
                    margin: 0;
                    font-size: 4vw;
                    margin-top: 10px;
                    border: 0;
                    background-color: transparent;

                    &:hover {
                        color: $colorPrimaryLight;
                    }
                }
            }

            #unregister {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $colorFont;
                font-size: 4vw;
                height: 10%;


                .modal-button {
                    color: $colorFont;
                    margin: 0;
                    font-size: 4vw;
                    margin-left: 3px;
                    border: 0;
                    background-color: transparent;

                    &:hover {
                        color: $colorPrimaryLight;
                    }
                }
            }
        }
    }
}