$colorPrimaryLight: #53B253;
$colorPrimaryDark: #418C41;
$colorFont: #494949;
$colorPrimaryBackground: #F2F2F2;
$colorDisabledPrimary: #E0E0E0;
$colorDisabledSecondary: #D4D4D4;
$colorButtonBackground: #F7F7F7;


