@import '../../../assets/scss/global.scss';

.react-calendar {
    width: 100%;
    max-width: 100%;
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }

  

  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
 
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
    border-radius: 8vw 8vw 0 0;
    margin-bottom: 0;
    background-color: $colorPrimaryDark;
  }

  

  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__next2-button {
    display: none;
  }

  .react-calendar__navigation__prev-button,
  .react-calendar__navigation__next-button {
    background-color: $colorPrimaryLight;
    
  }

  .react-calendar__navigation__label__labelText {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
  }

  .react-calendar__navigation button {
    min-width: 44px;
    background-color: transparent;
  }

  .react-calendar__navigation__prev-button[disabled] {
    color: rgba(192, 192, 192, 0.37);
  }

  .react-calendar__navigation__arrow {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    font-weight: lighter;
    line-height: 100%;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;

    abbr[data-bs-original-title], abbr[title] {
      text-decoration: none;
    }
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: black;
  }

  .react-calendar__month-view__days__day--weekend[disabled] {
    color: $colorDisabledPrimary;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(124, 124, 124);
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background-color: #F5F5F5;    
  }
  .react-calendar__tile:disabled {
    background-color: #F5F5F5;
    color: $colorDisabledPrimary;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: $colorPrimaryLight;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: $colorPrimaryDark;
  }
  .react-calendar__tile--active {
    background: $colorPrimaryLight;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: $colorPrimaryLight;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  