@import '../../../../../assets/scss/global.scss';

.reserve-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;

    #reserves-info {
        display: flex;
        align-items: center;

        svg {
            margin-right: 5vw;
            width: 12vw;
            
            path {
                stroke: $colorFont
            }
        }

        #info-text {
            color: $colorFont;
            h3, h5 {
                margin-bottom: 0;
            }

            h3 {
                font-size: 5vw
            }

            #data {
                display: flex;
                h5 {
                    font-size: 4vw
                }

                h5+h5 {
                    margin-left: 10px;
                }
            }
        }
    }

    img {
        width: 7vw;
    }
}