@import '../../../assets/scss/global.scss';

#container-home {
    background-color: $colorPrimaryBackground;
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative; //mudar p/ fixed 
    flex-direction: column;

    header {
        background-color: $colorPrimaryDark;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 18vh;
        box-shadow: 0 -5px 10px black;

        #title {
            @include centralizeContent();
            padding: 3vw 5vw;
            height: 9vh;

            h5 {
                color: white;
                font-weight: 300;
                font-size: 5vw;
                margin-bottom: 0;
            }
        }
    }

    main {
        padding: 8vw 5vw;
        max-height: 82vh;
        overflow-y: scroll;
    }
}

body {
    .offcanvas {
        width: 80%; 
    }
}

@import "~bootstrap/scss/bootstrap";
